$color1: #528B2A;
$color2: #DC2C2E;
$color3: #ffffff;
$color4: #eeeeee;
$color5: #F43537;
$color6: #4495D1;
$color7: #FFDF00;
 

$colorBorder: #eee;
$colorBackground: #333;
$colorBackground2: #666;
$colorBackground3: #6e6e6e;
$colorBackground4: #efefef;
$colorBackground5: #cfcfcf;
$colorBackground6: #434343;

$colorDisabled: #444;
$toolbarWidth: 2em;
$settingbarHeight: 3em;

$tabHeight: 2em;
$tabWidth: 2em;
$tabContentWidth: 140px;
$statusBarHeight: 3rem;


