.show-popup {
	cursor: pointer;
}


.menu{
	z-index:1000;
	position: absolute;
	display: block;
	background-color:$color3;
	color: $color2;
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style: none;  
	border-radius: 0 0 5px 5px;  

	@include box-shadow(2px 3px 2px 3px rgba(220,44,46,0.25));
	//border: 1px solid $colorBorder2;

	&.hide {
		display: none;
	}


	&.arrow-up {
		background: $color3;
		&:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: $color3;
			border-width: 1rem;
			margin-left: -1rem;
		}
		&.left {
			&:before {
				left: 20%;
			}
		}
	}
	&.arrow-down {
		background: $color3;
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-top-color: $color3;
			border-width: 1rem;
			margin-left: -1rem;
		}
	}

	&.arrow-left {
		background: $color3;
		&:after {
			top: 25%;
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-right-color: $color3;
			border-width: 1rem;
			margin-left: -1rem;
		}
	}

	input[type="range"] {
		width: 12rem;
	} 
	.padded {
		padding: 0.5rem;
	} 
	.check {
		
		margin-left: -1rem;
		padding-right: .15rem;
		width: 1rem;
		display: inline-block;
		&.selected {
			@extend .icon;
			@extend .icon-check;
		}
	}

	.menu-float {
		float: left;
	}

	&.popup-menu--advancedSettings {
		border-radius: 0 5px 5px 5px;  

		li {
			&:first-of-type {
				a{
					border-radius: 0 5px 0 0;
				}
			}
		}
	}

	&.popup-menu--addOptions {
		li {
		    padding: .5em .5em;
		    display: block;

		    a {
		    	display: inline;
		    }
		}
	}

	&.popup-menu--customColors{
		max-width: 6.2rem;
		text-align: center;
		border: 1px solid $colorBorder2;

		&.arrow-left {
			&:after {
				top: 20%;
				border-width: .5rem;
				margin-left: -.5rem;
			}
		}

		.customColorSwatch {
			.colorSwatch {
			    width: 2rem;
			    height: 2rem;
			    cursor: pointer;
			    &.dark {
			    	&:hover {
			    		@include box-shadow(inset 0 0 .5rem .25rem rgba(255, 255, 255, 0.5));
			    	}
			    }
				&:hover {
					@include box-shadow(inset 0 0 .5rem .25rem rgba(128, 128, 128, 0.75));
				}

			}
		}
	}

	&.menu-horizontal {
		&.popup-menu--shapeoptions{
			width: 92px;
		}
		&.arrow-left {
			&:after {
				top: .75rem;
				border-width: .5rem;
				margin-left: -.5rem;
			}
		}

		ul {
			li {
				float:left;

				a {
					padding: .5em 1em;
					border-bottom: 0;
					span {
						margin: 0;
						padding: 0; 
					}
				}

				border: 1px solid #eee;
				border-top: none;
				border-left: none;
				 
			}
		}
	}


	li{
		list-style: none; 
		&.spacer{
			background-color: tint($colorBackground, 30);
			height: 2px;
		}
		&.selected {
			background-color: darken($color2, 7);
			
			a {
				color: $color3;
			}
		}
		a {
			display:block;
			border: 0; 
			border-bottom:1px solid darken($color3, .8);
			color: #000;
			text-decoration: none; 
			padding:.5em 5em .5em 1.75em;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			&:hover { 
				//text-decoration: shade($color3, 50); 
				background-color:$color2; //tint($colorBackground, 40);
				color: $color3;
			}

			.right-align {
				position: absolute;
				right: .5em;
			}

		}
		&:last-of-type {
			a{
				border-bottom: none;
				border-radius: 0 0 5px 5px;
			}
		}
	}

}

.customColorSwatch {
	.colorSwatch {
		display: block;
		width: 2em;
		height: 2em;
	}	
}
