.show-popup {
	cursor: pointer;
}


.menu{
	z-index:1000;
	position: absolute;
	display: block;
	background-color:$color3;
	color: $color2;
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style: none;    
	@include box-shadow(2px 2px 2px 0px rgba(238,238,238,0.5));
	border: 1px solid $colorBorder2;

	&.hide {
		display: none;
	}


	&.arrow-down {
		background: $color3;
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-top-color: $color3;
			border-width: 1rem;
			margin-left: -1rem;
		}
	}

	&.arrow-left {
		background: $color3;
		&:after {
			top: 25%;
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-right-color: $color3;
			border-width: 1rem;
			margin-left: -1rem;
		}
	}

	.check {
		
		margin-left: -1rem;
		padding-right: .15rem;
		width: 1rem;
		display: inline-block;
		&.selected {
			@extend .icon;
			@extend .icon-check;
		}
	}

	&.menu-horizontal {
		&.arrow-left {
			&:after {
				top: 0;
				border-width: 1rem;
				margin-left: -1rem;
			}
		}

		ul {
			li {
				float:left;

				a {
					padding: .5em 1em;
					border-bottom: 0;
					span {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}


	li{
		list-style: none; 
		&.spacer{
			background-color: tint($colorBackground, 30);
			height: 2px;
		}
		&.selected {
			background-color: darken($color2, 7);
			
			a {
				color: $color3;
			}
		}
		a {
			display:block;
			border: 0; 
			border-bottom:1px solid darken($color3, .8);
			color: #000;
			text-decoration: none; 
			padding:.5em 5em .5em 1.75em;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			&:hover { 
				//text-decoration: shade($color3, 50); 
				background-color:$color2; //tint($colorBackground, 40);
				color: $color3;
			}

			.right-align {
				position: absolute;
				right: .5em;
			}

		}
		&:last-of-type {
			a{
				border-bottom: none;
			}
		}
	}

}

.customColorSwatch {
	.colorSwatch {
		display: block;
		width: 2em;
		height: 2em;
	}	
}
