<?xml version="1.0"?>
<configuration>
	<appSettings>
	    <add key="trelloEmail" value="nobrien+6hl6qlytdzdgvjbdlkak@boards.trello.com"/>
	</appSettings>
  <system.web>
  	<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="20000"/>
  </system.web>
    <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="DoNotReply@polynator.com">
        <network host="smtp.mandrillapp.com"  port="587" userName="nancy@nobrien.com" password="-QkOkHW5ZMd6N9EXtIk95A" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>