<?xml version="1.0"?>
<configuration>
	<appSettings>
	    <add key="trelloEmail" value="nobrien+6hl6qlytdzdgvjbdlkak@boards.trello.com"/>
	</appSettings>
  <system.web>
  	<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="20000"/>
  </system.web>

</configuration>